<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>University-Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div th:insert="fragments/header::header"></div>

<a th:href="@{/classroom/formAdd}" class="btn btn-primary"role="button">Add new</a>

<div class="container">
    <table class="table">
        <thead class="table table-dark">
        <th>No</th>
        <th>Name</th>
        <th>Number Member</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr th:each="classroom:${classrooms}">
            <td th:text="${classroom.id}"/>
            <td th:text="${classroom.name}"/>
            <td th:text="${classroom.number_member}"/>
            <td>
                <a class ="btn btn-secondary" th:href="@{/classroom/formUpdate(classroomId=${classroom.id})}">Edit</a>
                <a class ="btn btn-secondary" th:href="@{/classroom/delete(classroomId=${classroom.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this class?'))) return false" >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="fragments/footer::footer"></div>
</html>